{% extends 'base.html.twig' %}

{% block title %}Demain{% endblock %}

{% block body %}
    <h1>Les streams de demain</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>joue à</th>
                <th>URL</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for stream in streams %}
            <tr>
                <td>{{ stream.user.pseudo }}</td>
                <td>{{ stream.jeu.name }}</td>
                <td>
                    <a href="{{ stream.url }}" class="btn btn-primary">Accéder au stream</a>
                </td>
                <td>{{ stream.startDate|date('H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune live pour demain</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}